<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@Page.Title - The Cuddy</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/img/cafe.ico">
    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="~/css/business-casual.css" rel="stylesheet" />

    <!-- JavaScript -->
    <script src="~/js/jquery-1.10.2.js"></script>
    <script src="~/js/bootstrap.js"></script>
</head>
<body>

    <div class="brand">The Cuddy</div>
    <div class="address-bar">The Cuddy | 101 Meryl St | Coburg North VIC 3058 | ABN 123456789</div>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand-name">@Html.ActionLink("The Cuddy", "Index", "Home")</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Blog", "Blog", "Home")</li>    
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; The Cuddy 2014</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>